/* Custom Font for headings */
@font-face {
    font-family: 'Fineday One';
    src: url('fonts/Fineday One.ttf') format('truetype');
}

/* Body uses Roboto from Google Fonts */
body {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.7rem, 2.5vh, 0.9rem);
    font-weight: 500;
    color: black;

    margin: 0; 
    padding: 0.9rem;
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.yellow-section {
    padding: 1rem;
    width: 100%;
    background: #ffe8b9;
    margin-bottom: 0.9rem;
    border-radius: 10px;
    font-size: clamp(0.7rem, 2.5vh, 0.8rem);
    line-height: 1.4;
    font-weight: 600;
    box-sizing: border-box;
}

.services-section {
    padding: 1rem;
    width: 100%;
    background: #eaeaea;
    margin-top: 0.9rem;
    border-radius: 10px;
    font-size: clamp(0.5rem, 1.8vh, 1rem);
    box-sizing: border-box;
}

h1 {
    font-family: 'Fineday One', cursive;
    color: white;
    font-weight: 100;
    font-size: clamp(20px, 4.5vh, 50px);
    margin: 20px 20px 10px 20px;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(20px, 2.5vh, 20px);
    font-weight: 800;
    margin: 0;
    color: #353b5b;
    line-height: 1.1;
}

.church-service {
    font-size: clamp(10px, 3vh, 16px);
    font-weight: 700;
    margin-top: 15px;
    text-align: left;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.7rem, 2.5vh, 0.9rem);
    font-weight: 700;
    margin: 2px 0 0 0;
    color: #353b5b;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    text-align: justify;
    margin: 0;
}

.participants-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 15px;
    column-gap: 12px;
    align-items: start;
}

.left {
    text-align: left;
    font-weight: 400;
    white-space: normal;
}

.right {
    text-align: right;
    font-weight: 700;
    white-space: normal;
    word-break: break-word;
}


.sabbath-lesson {
    margin-top: 15px;
    line-height: 1.7;
    display: grid;
    row-gap: 4px;
    font-weight: 100;
}

.lesson-review {
    font-weight: 800;
    color: black;
}