@font-face {
    font-family: 'Fineday One';
    src: url('fonts/Fineday One.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;

    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 1rem;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: auto;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
}

h3 {
    font-family: 'Inter';
    font-size: clamp(14px, 3vw, 24px);
    letter-spacing: 1px;
    margin: 10px 0 0;
}

h1 {
    font-family: 'Fineday One';
    font-weight: 300;
    font-size: clamp(3rem, 12vw, 5rem);
    margin: 20px;
    line-height: 1.3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h4 {
    font-family: 'Inter';
    font-size: clamp(11px, 2vw, 18px);
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    margin: 2px 50px 20px;
}

p {
    font-family: 'Inter';
    font-size: clamp(14px, 3vw, 18px);
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    margin: 2px 20px 20px;
}

.btn {
    margin-top: 30px;
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    font-size: clamp(16px, 4vw, 22px);
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ddd;
    transform: scale(1.05);
}
