@font-face {
    font-family: 'Fineday One';
    src: url('fonts/Fineday One.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.ttf') format('truetype');
}

html, body {
    overflow: hidden;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: white;
}

.logo {
    display: block;
    margin: 20px auto;
    width: 50px;
    height: auto;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
}

h3 {
    font-family: 'Inter';
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

h4 {
    margin-top: 2px;
    font-family: 'Inter';
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Fineday One';
    font-weight: 300;
    font-size: 3.1rem;
    margin: 30px;
    line-height: 1.3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    margin-top: 2px;
    font-family: 'Inter';
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.btn {
    margin-top: 30px;
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ddd;
    transform: scale(1.05);
}